<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
   th:fragment="main-fragment (title, otherStaticResources, mainContent)">
   <head>
     	<meta charset="UTF-8" />
   	 	<title th:replace="${title}"></title>
   	 	
   	 	<script type="text/javascript">
   	 		var CONTEXT_PATH = "[[@{/}]]";
   	 		CONTEXT_PATH = CONTEXT_PATH.substring(0, CONTEXT_PATH.length - 1);
      		const API_DOMAIN = "${API_DOMAIN}";
      		const COOKIE_DOMAIN = "${COOKIE_DOMAIN}";
			const PAGE_SIZE = 20;
			const NO_IMAGE = CONTEXT_PATH + '/resources/common/images/img/noimage_110.gif';
			const LOGIN_INFO = {
				clientCode		: "${LOGIN_INFO.clientCode}",
				langCode 		: "${LOGIN_INFO.langCode}",
				contextPathFile : "${LOGIN_INFO.contextPathFile}",
				memberName		: "${LOGIN_INFO.memberName}",
				year			: "${LOGIN_INFO.year}",
				semester		: "${LOGIN_INFO.semester}"
			}
		</script>

	  	<link rel="stylesheet" type="text/css" data-th-src="@{/common/css/fontawesome.all.css}"/>
	  	<link rel="stylesheet" type="text/css" th:href="@{/common/css/bootstrap.min.css}"/>
	  	<link rel="stylesheet" type="text/css" th:href="@{/common/css/pages/mainPage.css}">
	  	
	  	<script data-th-src="@{/common/js/jquery.min.js}"></script>
      	<script data-th-src="@{/common/js/lodash.js}"></script>
	  
<!-- 	ext -->
	  	<link rel="stylesheet" type="text/css" th:href="@{/common/extjs/themes-testcenter/themes-testcenter-all.css}"/>
	  	<link rel="stylesheet" type="text/css" th:href="@{/common/css/charts-all.css}">
	  	<script data-th-src="@{/common/extjs/ext-all.js}"></script>
	  	
	  	<script data-th-src="@{/app/common/Common.js}"></script>
	  	<script data-th-src="@{/app/common/CommonUtil.js}"></script>
	  	<script data-th-src="@{/app/common/Component.js}"></script>
	  	<script data-th-src="@{/app/common/customComponent/TreeComboJack.js}"></script>
<!-- 	ext end -->

      	<!-- Other javascript, css source files -->
      	<th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
      	
   </head>
   <body>

      <section th:replace="${mainContent} ?: ~{}"></section>

   </body>
    
</html>