<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
   th:fragment="main-fragment (title, otherStaticResources, mainContent)">
   <head>
      <meta charset="UTF-8" />
      <title th:replace="${title}">Page Title</title>

      <link rel="stylesheet" type="text/css" th:href="@{/css/common/fontawesome-5.1.1.all.css}">
      <link rel="stylesheet" type="text/css" th:href="@{/css/common/bootstrap-3.1.1.min.css}">

      <script data-th-src="@{/js/common/jquery.min.js}"></script>
      <script data-th-src="@{/js/common/lodash.js}"></script>
      <script data-th-src="@{/js/common/date.js}"></script>

      <!-- Other javascript, css source files -->
      <th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
   </head>
   <body>

      <nav th:insert="${nav} ?: ~{}">
         <ul>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
         </ul>
      </nav>

      <section th:replace="${mainContent} ?: ~{}"></section>

   </body>
    
</html>