<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
	  	<title>Login</title>
   	 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	  	
	  	<link rel="stylesheet" type="text/css" data-th-src="@{/common/css/fontawesome.all.css}"/>
	  	<link rel="stylesheet" type="text/css" data-th-src="@{/common/css/bootstrap.min.css}"/>
	  	<script type="text/javascript" data-th-src="@{/common/js/jquery.min.js}"></script>
      	<script type="text/javascript" data-th-src="@{/common/js/lodash.js}"></script>
	  	
      	<link rel="stylesheet" type="text/css" th:href="@{/common/css/pages/loginPage.css}" media="screen"/>
      	<script type="text/javascript" data-th-src="@{/app/view/login.js}"></script>
   </head>
   <body>
		<form id="form-login" name='login' method='POST'>
	        <table>
	            <tr>
	                <td>UserName:</td>
	                <td><input type='text' id="username" name='username' value='00000000'></td>
	            </tr>
	            <tr>
	                <td>Password:</td>
	                <td><input type='password' name='password' value='0000' autocomplete="off"/></td>
	            </tr>
	            <tr>
	                <td colspan='2'><input name="submit" type="submit" value="submit" /></td>
	            </tr>
	        </table>
	    </form>
   </body>
    
</html>